.formContainer {
    font-family: 'Karla', sans-serif;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.submitButton {
    padding: 19px 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--secondary);
    width: 200px;
    display: flex;
    justify-content: center;
  }

  input {
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

select {
    padding: 10px;
}

  @media (max-width: 1024px) {
    .submitButton {
      padding: 8px 16px;
      border-radius: 16px;
    }
  }

  @media (min-width: 1024px) {
    .formContainer {
        max-width: 500px;
        margin: 0 auto;
    }

    .submitButton {
        margin: 50px auto;
    }
  }