/********************************
******Social Media Copmonent*****
********************************/

.social > path {
  fill: var(--primary);
}
.social {
  cursor: pointer;
}

.socialContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}