@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Markazi Text', 'Karla', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

:root {
  --primary: #495E57;
  --secondary: #F4CE14;
  --textPrimary: #333333;
  --textSecondary: #EDEFEE;
  --orange: #FBDABB;
  --pink: #EE9972;
  --white: #FFFFFF;
}